// pcサイズ
.show-report {
  // 引数は左右のpadding
  @include xl_main_box(200px);
  &__border {
    border-bottom: solid 1px rgba(0, 0, 0, 0.125);
  }
  .show-image-box-xl {
    justify-content: space-around;
    margin: 0 10px;
    &__image {
      margin: 20px 0;
    }
  }
}

// iPad以下
.show-report-under-lg {
  @include under_lg();

  // iPad 画像
  .show-image-box-md {
    justify-content: space-around;
    &--lg {
      margin: 0 10px;
    }
    &__image {
      margin: 20px 0;
    }
  }

  // スマホ 画像
  .show-xs-image {
    display: block;
    margin-bottom: 10px;
  }
}