-# pc
.col-xl-10.d-none.d-xl-block.reports-xl
  .container
    .row
      = render @reports
    = paginate @reports

-# iPad以下
.d-xl-none.reports-under-lg
  .container
    .row
      = render @reports
      = paginate @reports
